<%- include('partials/header'); -%>

  <form>
    <h2>Sign Up here</h2>
    <label for="email">Email : </label>
    <input type="text" name="email" id="email" required>
    <div class="email error"></div>
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" required>
    <div class="password error"></div>
    <button>Sign Up</button>
  </form>

  <script>
    //select form from html doc 
    const form = document.querySelector('form');
    // change form eventlistener 
    form.addEventListener('submit', async (e)=> {
      e.preventDefault(); // stop form from performing default event

      // extract email and password values from form
      const email = form.email.value; // reaches into form and grabs and email and then its value
      const password = form.password.value; // reaches into form and grabs password and then its value

      try {
        //using fetch method
        const res = await ('/signup', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: {'Content-Type': 'application/json'}
        })
      }
      catch(err) {
        console.log(err);
      }
    })
  </script>

<%- include('partials/footer'); -%>